.hero-list {
    display: flex;
    flex-wrap: wrap;
    .hero-cards {
        width: 25%;
        box-sizing: border-box;
        .hero-card {
            padding: 18px;
            padding-top: 0;
            margin: 18px;
            display: flex;
            justify-content: center;
            .mat-mdc-card-actions {
                display: flex;
                justify-content: center;
            }
            .mat-mdc-card-header {
                display: flex;
                justify-content: center;
                text-align: center;
                padding-bottom: 18px;
            }
            img {
                width: 100%;
                max-height: 320px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
