.header {
    display: flex;
    justify-content: center;
    h1 {
        text-align: center;
        padding: 18px;
        font-size: 32px;
        margin: 0;
    }
    .mat-toolbar-row {
        display: flex;
        justify-content: center;
        img {
            padding-bottom: 18px;
            max-height: 64px;
        }
    }
}